<html>
    <form>
        <div class="login">
            <div class="signin">
                <h1>LOGIN PAGE</h1>
                <h1>Login & Signup</h1>
                <p>Click Generate the login or signupForm</p>
                <a href="">
                <button class="log">Login</button>
                </a>
                <button class="sign">Signup</button>
    

            </div>
            <div class="email">
                Email or name:<input type="emailor name" required="required" class="name"><br>
                password:<input type="password" required="required" class="pass"><br>
                <a href="#" class="login">login</a><br>
                
                <a href="#" class="password">forgot password</a>
        
                </div>
                <div class="Email">
                    <input type="name" class=enter placeholder="enter your names"><br>
                    <input type="email" placeholder="entermail@email.com" class="mail"><br>
                    <input type="password" placeholder="password" class="word"><br>
                    <input type="password" placeholder="confirm password" class="confirm"><br>
                    <a href="#" class="up">Signup</a><br>
                    <a href="#" class="forgot">ForgotPassword</a>
                </div>
        
          

        </div>
        
    </form>
</html>
  
        

    
    
    
