    
    <h1>LOGIN PAGE</h1>
    
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username"  required="required">

      <label for="password">Password:</label>
      <input type="password" id="password"   required><br>

      <button (click)="login()">Login</button>
    

    <!--div *ngIf="showCredentials">
      <p>Username: {{ username }}</p>
      <p>Password: {{ password }}</p-->

      
    <div *ngIf="showCredentials">{{showCredentials}}</div>
    </div>
    

  

